html
  font-family: 'Roboto', sans-serif;

body
  font-size: 13px;
  line-height: 20px;

.login-component
  text-align: center;
  color: #888;

.place
  text-align: center;
  .place-name
    font-size: 3em

  .place-is-open
    font-size: 4em;
    font-weight: bold;
    color: #03A9F4;
    border: 5px solid;
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
  .place-is-open.OPEN
    color: #03A9F4;
    border-color: #03A9F4;
  .place-is-open.CLOSED
    color: #f44e03;
    border-color: #f44e03;
  .place-attributes
    th
      text-align: left
    td
      text-align: center

.user
  .user-name
    font-size: 2em
  .user-attributes
    th
      text-align: left
    td
      text-align: center