body
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', '游ゴシック  Medium', meiryo, sans-serif
  color: 333

.place
  .place-name
    font-size: 2em
  .place-attributes
    th
      text-align: left
    td
      text-align: center

.user
  .user-name
    font-size: 2em
  .user-attributes
    th
      text-align: left
    td
      text-align: center
