body
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', '游ゴシック  Medium', meiryo, sans-serif
  color: 333

.place
  .place-name
    font-size: 2em

  .place-is-open
    font-size: 2em;
    font-weight: bold;
    color: #03A9F4;
    border: 4px solid #03A9F4;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 10px;
  .place-attributes
    th
      text-align: left
    td
      text-align: center

.user
  .user-name
    font-size: 2em
  .user-attributes
    th
      text-align: left
    td
      text-align: center
